In [1]:
# Python 프로그래밍(클래스 II) 
# 학번 : 2025177784, 이름 : 김도원

In [2]:
# 계산기 프로그램(계산을 수행하며 이전에 계산된 결과를 메모리에 저장하고 있어야 함)

In [3]:
result = 0
def adder(num):
    global result
    result += num
    return result

In [4]:
print(adder(4))

4

In [5]:
print(adder(5))

9

In [6]:
# 만약 계산기가 두 개 필요하면?

In [7]:
result1 = 0
result2 = 1

def adder1(num):
    global result1
    result1 += num
    return result1 

def adder2(num):
    global result2
    result2 += num
    return result2

In [8]:
print(adder1(3))

3

In [9]:
print(adder1(4))

7

In [10]:
print(adder2(3))

4

In [11]:
print(adder2(7))

11

In [12]:
# 계산기가 여러 개가 필요하다면? ☞ Class 사용, 계산기 객체 여러 개 생성

In [18]:
class Calculataor:
    def __init__(self):         # __init__는 객체가 처음 만들어질 때 자동으로 실행되는 함수
        self.result = 0         # self.result = 0은 계산기의 시작 값(결과 값)을 0으로 설정gksms rjt
    def adder(self, num):
        self.result += num
        return self.result

cal1 = Calculataor()
cal2 = Calculataor()

In [19]:
print(cal1.adder(3))

3

In [20]:
print(cal1.adder(4))

7

In [21]:
print(cal2.adder(3))

3

In [22]:
print(cal2.adder(7))

10

In [24]:
# 클래스 변수

In [32]:
class Service:
    secret = "지구는 4006년에 멸망한다."            # secret = "..."처럼 클래스 안에서 정의된 변수는 클래스 변수(모든 객체가 공유)
an = Service()                     # Service 클래스로 객체 하나 만들기
an.secret

'지구는 4006년에 멸망한다.'

In [34]:
Service.secret = '지구가 4006년에 멸망한다는 사실은 뻥이다.'      # 클래스 변수 변경
print(an.secret)

지구가 4006년에 멸망한다는 사실은 뻥이다.

In [35]:
class Service:
    secret = "지구는 4006년에 멸망한다."            # secret는 클래스 변수임(모든 객체가 공유
    def sum(self, a, b):                            # sum이라는 메서드(클래스 안의 함수)를 정의
        result = a+b
        print("%s + %s = %s이다." % (a, b, result))  # %s는 문자열 포맷팅 문법

an = Service()
an.sum(1,1)

1 + 1 = 2이다.

In [45]:
class Service:
    secret = "지구는 4006년에 멸망한다."            # secret는 클래스 변수임(모든 객체가 공유
    def setname(self, name):
        self.name = name
    def sum(self, a, b):                            # sum이라는 메서드(클래스 안의 함수)를 정의
        result = a+b
        print("%s님, %s + %s = %s입니다." %(self.name, a, b, result))

an = Service()
an.setname("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2입니다.

In [ ]:
# 클래스 변수는 공유되는 변수, 객체 변수는 객체별로 고유한 값 저장

In [46]:
kim = Service()
park = Service()
kim.name = "김정보"
park.name = "박융합"
print(kim.name)
print(park.name)
kim.secret = "비밀은 없다"
print(park.secret)
print(kim.secret)
Service.secret

김정보
박융합
지구는 4006년에 멸망한다.
비밀은 없다

'지구는 4006년에 멸망한다.'

In [47]:
# __init__은 무엇?

In [48]:
lee = Service()
lee.sum(1,1)

AttributeError: 'Service' object has no attribute 'name'

In [52]:
class Service:
    secret = "지구는 4006년에 멸망한다."
    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s입니다." %(self.name, a, b, result))
an = Service("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2입니다.

In [54]:
# Service 클래스의 객체 an을 만든다.
# 자동으로 __init__() 함수가 호출된다! ★★★ 객체가 만들어질 때 자동으로 실행됨!!!
# 우리가 넣은 "박달도사"가 name 자리에 전달된다.
# self.name = name에 의해, an.name = "박달도사"가 저장된다.
# 이제 sum 함수가 실행될 때, self.name은 "박달도사"가 되니까,
# 출력은 이렇게 된다: 박달도사님, 1 + 1 = 2입니다.

In [55]:
# 사칙연산 클래스

In [56]:
class FourCal:
    pass

a = FourCal()
type(a)

__main__.FourCal

In [58]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

a = FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [67]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

a = FourCal()
a.setdata(4, 2)
print(a.sum())
print(a.mul())
print(a.sub())
print(a.div())

6
8
2
2.0

In [65]:
b = FourCal()
b.setdata(3,7)
b.sub()

-4

In [68]:
# 간단한 주사위 게임(두 명의 플레이어가 세 개의 주사위를 굴리고, 많은 점수가 나오는 사람이 이긴다.

In [79]:
import random            # 파이썬에 내장된 random 모듈을 불러오는 코드. 난수(무작위 수)를 만들 때 사용.

player1_dice = []        # 각각의 플레이어가 던진 주사위 결과를 저장할 빈 리스트 생성
player2_dice = []

for i in range(3):       # 주사위를 3번 던지기 위해 반복하는 코드(0, 1, 2)
    player1_dice.append(random.randint(1, 6))      # .append()로 값 추가 / random.randint(1, 6)은 무작위로 정수를 뽑아주는 함수(1, 6 포함임)
    player2_dice.append(random.randint(1, 6))

print("Player 1 rolled" + str(player1_dice))
print("Player 2 rolled" + str(player2_dice))

if sum(player1_dice) == sum(player2_dice):
    print("Draw")
elif sum(player1_dice) > sum(player2_dice):
    print("Player 1 wins")
else:
    print("Player 2 wins")

Player 1 rolled[3, 1, 1]
Player 2 rolled[5, 6, 4]
Player 2 wins

In [ ]:
# 끝