In [1]:
#Quiz on List

In [2]:
# 학번 : 2025177784, 이름 : 김도원

In [3]:
# 1. Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [4]:
a_list = [1, "hello", [1,2,3], True]

In [5]:
# 2. Find the value stored at index 1 of a_list.

In [6]:
a_list[1]

'hello'

In [7]:
# 3. Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [8]:
a_list[1:4]

['hello', [1, 2, 3], True]

In [9]:
# 4. Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [10]:
A = [1, 'a']

In [12]:
B = [2, 1, 'd']

In [13]:
A+B

[1, 'a', 2, 1, 'd']