In [40]:
# Python 프로그래밍(함수 고급) 
# 학번 : 2025177784, 이름 : 김도원

In [ ]:
# <<< Comprehension >>>

In [4]:
# 1부터 5까지의 정수 리스트 만들기

In [9]:
# 방법 1 : .append()를 이용해서 하나씩 덧붙이기  ☞ 코드가 길어지고 반복적이어서 비효
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list

[1, 2, 3, 4, 5]

In [11]:
# 방법 2 : for문을 이용해서 순회 반복  ☞ 여전히 append()를 사용하므로 코드가 약간 길어짐.
number_list = []
for number in range(1, 6):     # range(1, 6) : 1,2,3,4,5이므로, append(1)부터 append(5)까지 돌아가며 덧붙여짐
    number_list.append(number)
number_list

[1, 2, 3, 4, 5]

In [12]:
# 방법 3   ☞ 가장 간결하지만, 조건이 있는 경우는 적용 불가(단순한 숫자 리스트에만 적용 권장)
number_list = list(range(1, 6))
number_list

[1, 2, 3, 4, 5]

In [13]:
# 방법 4 : List comprehension   ☞ 추후, 함수 또는 조건문도 결합 가능
number_list = [number for number in range(1, 6)]
number_list

[1, 2, 3, 4, 5]

In [15]:
# 함수 적용
number_list = [number-1 for number in range(1, 6)]    # [F(x) for xs(변수) in iter(반복자)]
number_list

[0, 1, 2, 3, 4]

In [18]:
# 조건 적용
a_list = [number for number in range(1, 6) if number % 2 == 1]       # number % 2 == 1은 "2로 나눴을 때 나머지가 1인 수", 즉 홀수를 뜻함.
a_list

[1, 3, 5]

In [20]:
# 만약 똑같은 조을 for문을 적용한다면? 너무 길다~
a_list = []
for number in range(1, 6):
    if number %2 ==1:
        a_list.append(number)
a_list

[1, 3, 5]

In [24]:
#예제
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']
#(1) 함수 적용
[word.lower() for word in sentence]    # .lower()는 소문자로 바꾸는 함수 / .upper()는 대문자로 바꾸는 함수임

['i', 'love', 'python', 'soooooo', 'much!!!']

In [25]:
#(2) 조건 적용
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [27]:
#(3) 함수 적용하여 (튜플)로 저장          # [F(x) for xs(변수) in iter(반복자)]. 여기서 앞뒤로 []를 꼭 써줘야함. list를 만든다는 뜻
[(x, x**2, x**3) for x in range(10)]   # range(10)까지, 즉, 1부터 9의 범위에서 (변수, 변수의 제곱, 변수의 세제곱)을 묶어서 튜플형식()으로 저장하기!

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [28]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [29]:
# 위 결과를 리스트 내포로 작성해보자
rows = range(1,4)
cols = range(1,3)
cells = [(row,col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [33]:
# 다음은 어떤 결과가? 
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [35]:
# Dictionary comprhension의 기본 구조는 {key_func(vars):val_func(vars) for vars in interable}

In [36]:
#예제
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in word}   # 불필요하게 count를 여러번 호출(값은 정확)
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [37]:
# 다른 방식으로 코딩
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in set(word)}   # set(word)는 {‘l’, ‘e’, ‘t’, ‘r’, ‘s’}와 같음
letter_counts

{'l': 1, 't': 2, 'e': 2, 'r': 1, 's': 1}

In [38]:
a_set = {number for number in range(1,6) if number %3 == 1}    # 3으로 나눴을 때 나머지가 1인 숫자만 출력하도록 set형태로 담음
a_set

{1, 4}

In [41]:
# <<< Functions and code structure >>>

In [49]:
# return값을 갖는 함수의 기본 구조는 아래와 같음
def function_namme(param1, param2):
    value = do_something()
    return value

# 예를 들어
def sum(a, b):
    return a+b
sum(1, 2)

'lovepython'

In [50]:
sum(1.3, 3.1)

4.4

In [53]:
sum('love ', 'python♥')

'love python♥'

In [55]:
# zip을 이용한 순회
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day,": drink", drink, "- eat",fruit, "- enjoy",dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [58]:
# zip을 이용하여 영어-프랑스어 사전 만들기
english = 'Monday', 'Tuesday', 'Wednesday'
francais = 'Lundi', 'Mardi', 'Mercredi'
list(zip(english, francais))    # list 안에 zip을 묶으면 list 형식으로 나온다

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [59]:
dict(zip(english, francais))    # dict 안에 zip을 묶으면 dict 형식으로 나온다

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [61]:
# 함수 위치 인자
def menu(wine, entree, dessert):
    return{'wine':wine, 'entree':entree,'dessert':dessert}

menu('chardonnay', 'chicken', 'cake')    # 이렇게 값만 입력해도 출력은 되나, 각 위치의 의미를 정확히 알아야 한다는 단점 존재함

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [62]:
menu(entree='beef', dessert='bagle', wine='bordeaux')    # 인자 = '원하는 값'으로 지정해주면 알아서 위치 찾아감!

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagle'}

In [64]:
menu('frontenac', dessert='flan', entree='fish')    # 섞어 쓸수도 있음. 대신, 위치인자가 먼저 나와야 함!

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [72]:
# 기본값을 지정해줄수도 있음. 
def menu(wine, entree, dessert='pudding'):   #desserts에 아무것도 인자(값)을 제공하지 않으면 pudding이 출력
    return{'wine':wine, 'entree':entree,'dessert':dessert}

menu('chardonnay','chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [73]:
menu('dunkelfelder', 'duck', 'doughnut')   # dessert 값을 입력한 경우, 입력한 값이 출력됨

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [76]:
# 가능한 경우
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
    return{'price':price, 'wine':wine, 'entree':entree, 'dessert':dessert}

In [77]:
menu(100)  # 위치인자

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [78]:
menu(price=150)  # 1키워드 인자

{'price': 150, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [80]:
menu(price=120, entree='beef')  # 2 키워드 인자

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [81]:
menu(dessert='bagle', price=110)  # 2 키워드 인자

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagle'}

In [86]:
menu('eighty','saint-pierre','fish')  # 3 위치 인자

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [88]:
menu('hundred',wine='saint-pierre')   # 1 위치인자, 1 키워드인자

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [89]:
# 불가능한 경우

In [90]:
menu()    # price 인자가 할당이 안됨

TypeError: menu() missing 1 required positional argument: 'price'

In [91]:
menu(price=100, 'saint-pierre')   # 키워드인자 할당 후 위치인자

SyntaxError: positional argument follows keyword argument (2276001416.py, line 1)

In [92]:
menu(100, price=120)  # 같은 변수에 두 번 할당

TypeError: menu() got multiple values for argument 'price'

In [94]:
menu(main='cream pasta')   # main은 정의되지 않은 매개변수임

TypeError: menu() got an unexpected keyword argument 'main'

In [ ]:
# 함수 시작 부분에 문자열을 포함하여 함수의 정의에 문서를 넣을 수 있음(설명). 이후, help()함수를 호출하여 내용을 출력할 수 있음!

In [97]:
def echo(anything):
    'echo retruns its input argument'
    return anything

In [98]:
def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:
       1. Check whether the *second* argument is true.
       2. If it is, print the *first* argumemt.
    """
    if check:
        print(thing)

In [99]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo retruns its input argument

In [101]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
       1. Check whether the *second* argument is true.
       2. If it is, print the *first* argumemt.

In [ ]:
- 끝 -